.match-card-container {
  display: flex;
  background-color: #4597b3;
  margin: 2vw;
  padding: 1vw;
  border-radius: 16px;
}

.main-player-container {
  display: flex;
  align-items: center;
  margin-left: 1vw;
}

.main-player-summoner-spell-container {
  display: flex;
  flex-direction: column;
  margin-left: 0.5vw;
}

.player-container {
  display: flex;
  margin: 0.5vw;
  align-items: center;
  justify-content: flex-start;
}

.match-player-name {
  margin-left: 1vw;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 8vw;
  text-decoration: none;
}

.player-kda {
  margin-left: 0.5vw;
  margin-right: 1vw;
}

.victory-bar,
.loss-bar {
  width: 0.75vw;
  height: auto;
  border-radius: 16px;
}

.victory-bar {
  background-color: green;
}

.loss-bar {
  background-color: red;
}
